@using Nooch.Common.Entities;
@{
    Layout = null;
    ResultcreateAccount rca = (ResultcreateAccount)ViewData["OnLoaddata"];
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Account | Nooch Payments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/sweetalert-override.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/bootstrap-select.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/chosen.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/jquery.steps.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/tweaks.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/fileinput.min.css")" />
    <link rel="icon" href="@Url.Content("~/Assets/favicon.ico")" />
</head>

<body id="body-depositNew" class="createAccountPg">

    <form id="form1">
        <input type="hidden" id="transId" value="@rca.transId" />
        <input type="hidden" id="memId" value="@rca.memId" />
        <input type="hidden" id="isNew" value="@rca.isNewUser.ToString().ToLower()" />
        <input type="hidden" id="errorId" value="@rca.errorId" />
        <input type="hidden" id="transType" value="@rca.transType" />
        <input type="hidden" id="sentTo" value="@rca.sentTo" />
        <input type="hidden" id="type" value="@rca.type" />
        <input type="hidden" id="dob" value="@rca.dob" />
        <input type="hidden" id="phone" value="@rca.phone" />
        <input type="hidden" id="company" value="@rca.company" />
        <input type="hidden" id="addBank_Url" value="@Url.Action("AddBank","Nooch")" />
    </form>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <div class="m-l-15">

                @if (rca.company == "habitat")
                {
                    <a class="landingHeaderLogo m-t-15 m-b-15" href="https://tryhabitat.com/" style="float:left;">
                        <img src="../Assets/Images/habitat-logo.png" class="center-block" alt="Habitat Logo" />
                    </a>
                }
                else
                {
                    <a class="landingHeaderLogo m-t-15 m-b-15" href="https://www.nooch.com/" style="float:left;">
                        <img src="../Assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch Logo" />
                    </a>
                }

                <div id="nameInNavContainer" class="text-center" style="position:absolute; left:10%; width:80%; top: 5px;">
                    <label id="nameInNav" class="m-t-5 center-block f-600 f-18" style="margin-bottom:3px;">@rca.name</label>
                    @if (rca.isNewUser)
                    {
                        <h4>Create Account</h4>
                    }
                    else
                    {
                        <h4>Update Account</h4>
                    }
                </div>
            </div>
        </div>
    </nav>


    <div id="pwFormShell" style="width: 85%; max-width: 420px; margin: 0 auto;">
    </div>


    <div id="checkEmailMsg" class="row hidden">
        <div style="width: 90%; margin: 5px auto;">
            <div id="createPWSuccessText">Success!</div>
            <div id="checkEmailText">Check your email</div>
            <div id="checkEmailText2">We just sent you a confirmation email to get started.</div>
        </div>
    </div>

    <div class="resultDiv col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
        <i class="fa fa-check"></i>
        <h2>Thanks, You're All Set</h2>
        <p>Thanks for submitting your ID information. &nbsp;That helps us keep Nooch safe for everyone. &nbsp;We only use this information to prevent ID fraud and never share it without your permission.</p>
    </div>


    <div id="idVerContainer" class="animated hidden" style="margin:0 auto;max-width:900px;">
        <div class="clearfix">
            <iframe id="iframeIdVer" src="" width="100%" height="300"></iframe>
        </div>
    </div>

    <div id="AddBankDiv" class="hidden">
        <div class="clearfix">
            <iframe id="frame" src="" width="100%" height="300"></iframe>
        </div>
    </div>


    <div>
        <div id="idWizContainer" class="hidden">
            <div class="animated fadeInDown">

                <div id="idVerWiz">

                    <h3><i class="fa fa-fw fa-envelope"></i><br />Contact<span class="hide-sm"> Info</span></h3>
                    <section>

                        <form id="idVerForm1" role="form">

                            <div class="well well-sm">Please confirm your <span>email address</span> and phone number. &nbsp;We only use this to contact you about your payments.</div>

                            <dl class="dl-horizontal" id="nameGrp">
                                <dt class="p-t-10 withIcon">
                                    <span id="name-label">Your Name</span>
                                    <i class="fa fa-fw fa-question-circle-o help-icon m-r-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Please enter your full legal name."></i>
                                </dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <input id="idVer-name" type="text" class="form-control capitalize" value="@rca.name" placeholder="First & Last Name" required />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal" id="emailGrp">
                                <dt class="p-t-10">Email Address</dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="dtp-container dropdown fg-line">
                                            <input id="idVer-email" type='email' class="form-control" value="@rca.email" placeholder="email@domain.com" />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal" id="phoneGrp">
                                <dt class="p-t-10">Phone Number</dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="dtp-container dropdown fg-line">
                                            <input id="idVer-phone" type='tel' class="form-control" value="@rca.phone" placeholder="(XXX) XXX-XXXX" />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                        </form>

                    </section>

                    <h3><i class="fa fa-fw fa-map-marker"></i><br />Address</h3>
                    <section>

                        <div class="well well-sm">
                            <div>
                                Please enter your <span class="f-700">current</span><span class="biz-text"></span> street address.
                            </div>
                        </div>

                        <dl class="dl-horizontal" id="addressGrp">
                            <dt class="p-t-10">Street Address<small>(<span class="f-600">no city</span> needed)</small></dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-address" type='text' class="form-control" value="@rca.address" placeholder="1600 Pennsylvania Ave" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal" id="zipGrp">
                            <dt class="p-t-10">ZIP Code</dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-zip" type='tel' class="form-control" value="@rca.zip" placeholder="eg. 90210" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                    </section>

                    <h3><i class="fa fa-fw fa-user"></i><br />Identity<span class="hide-sm"> Info</span></h3>
                    <section>

                        <div class="well well-sm text-left personal-only">
                            <div class="text-center m-b-5" style="font-size: 16px;">To prevent identity theft, please...</div>
                            <ol style="font-size:14.5px; font-weight:normal; letter-spacing: .3px; margin-bottom: 4px;">
                                <li style="margin-bottom: 3px;">Enter your <span>date of birth</span></li>
                                <li>
                                    Then do <span style="text-decoration:underline;font-weight:bold;">ONE</span> of the following:
                                    <ol type="A">
                                        <li>Enter your SSN, OR...</li>
                                        <li>connect to your Facebook account.</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>

                        <div class="well well-sm biz-only hidden">

                            <div>Please help us prevent fraud and identity theft...</div>

                        </div>

                        <dl class="dl-horizontal" id="dobGrp">
                            <dt class="p-t-10 withIcon">
                                Date of <span class="personal-only">Birth</span><span class="biz-only show hidden">Incorporation</span>
                            </dt>
                            <dd>
                                <div class="form-group withIcon datePickerGrp">
                                    <i class="fa fa-fw fa-calendar-plus-o"></i>
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-dob" type='text' class="form-control date-picker hide-sm" data-toggle="dropdown" placeholder="eg. 08/05/1978" />
                                        <input id="idVer-dob-mobile" type='date' class="form-control hide-md" placeholder="eg. 08/05/1978" />
                                    </div>
                                    <i class="fa fa-fw fa-question-circle-o icon-right help-icon m-l-5 personal-only" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="A date of birth is needed to verify a user's identity. Don't worry - nobody sees this!"></i>
                                </div>
                            </dd>
                        </dl>

                        <div class="row m-t-20 personal-only">
                            <div class="col-xs-5 p-r-5" id="ssnGrp">
                                <div class="form-group m-b-5">
                                    <label for="idVer-ssn">SSN</label>
                                    <input id="idVer-ssn" type="tel" class="form-control" value="@rca.ssn" placeholder="XXX - XX - XXXX" />
                                </div>
                                <span><button class="btn btn-link btn-sm p-0" onclick="ssnWhy()">Why?</button></span>
                            </div>

                            <div class="col-xs-2 p-0">
                                <div class="orDiv">OR</div>
                            </div>

                            <div class="col-xs-5 p-l-5">
                                <button id="fbLoginBtn" class="btn btn-fb m-t-10" type="button" onclick="checkLoginState()">
                                    <i class="fa fa-facebook-square"></i><span>Connect with Facebook</span>
                                </button>
                                <div id="fbResult" class="animated text-center hidden m-t-5"></div>
                            </div>
                        </div>

                        <dl class="dl-horizontal biz-only" id="bizTypeGrp">
                            <dt class="p-t-10">Type</dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <select id="idVer-bizType" class="form-control">
                                            <option>LLC</option>
                                            <option>Corporation</option>
                                            <option>Partnership</option>
                                            <option>Sole Proprietorship</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal biz-only" id="einGrp">
                            <dt class="p-t-10">EIN<small>(Tax ID #)</small></dt>
                            <dd>
                                <div class="form-group withIcon">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-ein" type='tel' class="form-control" value="" />
                                    </div>
                                    <i class="fa fa-fw fa-question-circle-o icon-right help-icon m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="EIN = Employer Identification Number (Tax ID # from the IRS)"></i>
                                </div>
                            </dd>
                        </dl>

                    </section>

                    @if (rca.type != "vendor")
                    {
                        <h3 class="personal-only destroy"><i class="fa fa-fw fa-picture-o"></i><br />ID Doc<span class="hide-sm">ument</span></h3>
                        <section class="personal-only destroy">

                            <div class="well p-15 m-b-15">
                                <div>
                                    Please upload a copy of your <span class="text-primary">photo ID</span> (driver's license, passport, etc.) <span class="f-400">&nbsp;Please make sure your name and picture are<span class="hide-sm"> clearly</span> legible.</span>
                                    <i class="fa fa-thumbs-up" style="color: #bbb; margin-left: 6px; text-shadow: 0 -1px 0 rgba(40,40,40,.6)"></i>
                                </div>
                            </div>

                            <div id="idDocWrap">
                                <input id="idVer_idDoc" type="file" class="">
                            </div>

                        </section>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="errorMessage hidden"></div>

    <div class="footer footer-login p-5">
        <div>
            <ul class="list-inline">
                @if (rca.company != "habitat")
                {
                    <li><a href="https://www.nooch.com/overview">About</a></li>
                    <li><a href="https://www.nooch.com/blog/">Blog</a></li>
                }
                <li><a href="https://www.nooch.com/safe">Security</a></li>
                <li><a href="https://www.nooch.com/tos">Legal Stuff</a></li>
            </ul>
        </div>
    </div>

    <script src="@Url.Content("//code.jquery.com/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("//code.jquery.com/ui/1.11.4/jquery-ui.min.js")"></script>
    <script src="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jasny-bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.blockUI.min.js")"></script>
    <script src="@Url.Content("~/js/input-mask.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/js/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.steps.js")"></script>
    <script src="@Url.Content("~/js/fingerprint2.min.js")"></script>
    @*<script src="@Url.Content("~/js/sweetalert.min.js")"></script>*@
    <script src="@Url.Content("https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/js/fileinput/fileinput.min.js")"></script>
    <script type="text/javascript">
        var ipusr;
    </script>
    <script src="@Url.Content("https://www.l2.io/ip.js?var=ipusr")"></script>
    <script src="@Url.Content("~/js/app/create-Account.js")"></script>

</body>
</html>
