@using Nooch.Common.Entities;
@{
    Layout = null;
    ResultcreateAccount rca = (ResultcreateAccount)ViewData["OnLoaddata"];
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Nooch | Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/sweetalert-override.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/bootstrap-select.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/chosen.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/jquery.steps.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/tweaks.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/fileinput.min.css")" />
    <link rel="icon" href="@Url.Content("~/Assets/favicon.ico")" />
</head>

<body id="body-depositNew" class="createAccountPg">

    <form id="form1">
        <input type="hidden" id="transId" value="@rca.transId" />
        <input type="hidden" id="memId" value="@rca.memId" />
        <input type="hidden" id="errorId" value="@rca.errorId" />

        <input type="hidden" id="transType" value="@rca.transType" />
        <input type="hidden" id="sentTo" value="@rca.sentTo" />
        <input type="hidden" id="type" value="@rca.type" />
        <input type="hidden" id="dob" value="@rca.dob" />
        <input type="hidden" id="phone" value="@rca.phone" />
        <input type="hidden" id="rs" value="@rca.rs" />
    </form>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <div class="m-l-15">
                <a class="landingHeaderLogo" href="https://www.nooch.com/" style="float:left;">
                    <img src="../Assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch Logo" />
                </a>
                <div runat="server" id="nameInNavContainer" visible="@rca.nameInNavContainer" class="text-center" style="position:absolute; left:10%; width:80%; top: 8px;">
                    <asp:Label runat="server" ID="nameInNav" CssClass="m-t-15 m-b-5 center-block f-600 h4"></asp:Label>
                    <h4 class="m-t-5">Update Account</h4>
                </div>
            </div>
        </div>
    </nav>


    <div id="pwFormShell" style="width: 85%; max-width: 420px; margin: 0 auto;">
    </div>


    <div id="checkEmailMsg" class="row hidden" runat="server">
        <div style="width: 90%; margin: 5px auto;">
            <div id="createPWSuccessText">Success!</div>
            <div id="checkEmailText">Check your email</div>
            <div id="checkEmailText2">We just sent you a confirmation email to get started.</div>
        </div>
    </div>

    <div class="resultDiv col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
        <i class="fa fa-check"></i>
        <h2>Thanks, You're All Set</h2>
        <p>Thanks for submitting your ID information. &nbsp;That helps us keep Rent Scene safe for everyone. &nbsp;We only use this information to prevent ID fraud and never share it without your permission.</p>
    </div>

    <div class="row m-0">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 m-t-15 hidden" id="idWizContainer">
            <div class="row animated fadeInDown">

                <div id="idVerWiz">

                    <h3><i class="fa fa-fw fa-user m-r-5"></i><br />Profile<span class="hide-sm"> Info</span></h3>
                    <section>

                        <form id="idVerForm1" role="form">
                            <div class="well well-sm">
                                <div class="f-15">To protect your account from identity theft<span class="ast">*</span>, please complete the following fields.</div>
                            </div>

                            <dl class="dl-horizontal" id="nameGrp">
                                <dt class="p-t-10 withIcon">
                                    Legal Name<br />
                                    <i class="fa fa-fw fa-question-circle-o help-icon m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Please enter your full legal name."></i>
                                </dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <input id="idVer-name" type="text" class="form-control capitalize" value="@rca.name" placeholder="First & Last Name" required />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal" id="dobGrp">
                                <dt class="p-t-10 withIcon">
                                    Date of Birth<br />
                                    <i class="fa fa-fw fa-question-circle-o help-icon m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="A date of birth is needed to verify a user's identity. Don't worry - nobody sees this!"></i>
                                </dt>
                                <dd>
                                    <div class="form-group withIcon datePickerGrp">
                                        <i class="fa fa-fw fa-calendar-plus-o"></i>
                                        <div class="dtp-container dropdown fg-line">
                                            <input id="idVer-dob" type='text' class="form-control date-picker" data-toggle="dropdown" placeholder="eg. 08/05/1978" />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="dl-horizontal" id="ssnGrp">
                                <dt class="p-t-10">SSN<small>Last 4 Digits Only</small></dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="dtp-container dropdown fg-line">
                                            <span id="ssnPrefix">XXX - XX -</span>
                                            <input id="idVer-ssn" type='text' class="form-control" value="@rca.ssn" placeholder="1234" />
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                        </form>

                    </section>

                    <h3><i class="fa fa-fw fa-map-marker m-r-5"></i><br />Address</h3>
                    <section>

                        <div class="well wellsm">
                            <div class="f-15">
                                Please enter your <span class="f-700">current, personal</span> street address.
                                <i class="fa fa-fw fa-question-circle-o help-icon" data-trigger="click" data-toggle="popover" data-placement="left" data-content="Please enter the following information about YOU, the person creating this account." data-original-title="Contact Info"></i>
                            </div>
                        </div>

                        <dl class="dl-horizontal" id="addressGrp">
                            <dt class="p-t-10 withIcon">
                                Street Address<small class="p-r-20">(no city needed)</small><br />
                                <i class="fa fa-fw fa-question-circle-o help-icon" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Proving you know your personal address and zip code helps verify your identity."></i>
                            </dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-address" type='text' class="form-control" value="@rca.address" placeholder="1600 Pennsylvania Ave" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal" id="zipGrp">
                            <dt class="p-t-10">ZIP Code</dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-zip" type='text' class="form-control" value="@rca.zip" placeholder="eg. 90210" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                    </section>

                    <h3><i class="fa fa-fw fa-envelope m-r-5"></i><br />Contact Info</h3>
                    <section>

                        <div class="well well-sm m-b-25">
                            <div class="f-15">Please confirm your <span>email address</span> and phone number. &nbsp;We will only use this to contact you about your payments or your account.</div>
                        </div>

                        <dl class="dl-horizontal" id="emailGrp">
                            <dt class="p-t-10">Email Address</dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-email" type='text' class="form-control" value="@rca.email" placeholder="" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal" id="phoneGrp">
                            <dt class="p-t-10 withIcon">
                                Phone Number<br />
                                <i class="fa fa-fw fa-question-circle-o help-icon" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Protect your account the most by entering a cell phone number. We'll send an SMS to verify that you own the number."></i>
                            </dt>
                            <dd>
                                <div class="form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="idVer-phone" type='tel' class="form-control" value="@rca.phone" />
                                    </div>
                                </div>
                            </dd>
                        </dl>

                    </section>

                    <h3><i class="fa fa-fw fa-picture-o m-r-5"></i><br />ID Document</h3>
                    <section>

                        <div class="well well-sm m-b-15">
                            <div class="f-15">Please upload a picture of any government-issued <strong>photo ID</strong> with your name<span class="hide-sm"> on it</span>.</div>
                        </div>

                        <div id="idDocWrap">
                            <input id="idVer_idDoc" type="file" class="">
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="errorMessage hidden"></div>


    <div id="AddBankDiv" class="hidden">
        <div class="clearfix">
            <iframe id="frame" src="" width="100%" height="300"></iframe>
        </div>
    </div>


    <div class="footer footer-login">
        <div>
            <ul class="list-inline">
                <li><a href="https://www.nooch.com/overview">About</a></li>
                <li><a href="https://www.nooch.com/safe">Security</a></li>
                <li><a href="http://support.nooch.com/">Support Center</a></li>
                <li><a href="https://www.nooch.com/tos">Legal Stuff</a></li>
                <li><a href="https://www.nooch.com/blog/">Blog</a></li>
            </ul>
        </div>
    </div>

    <script src="@Url.Content("//code.jquery.com/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("//code.jquery.com/ui/1.11.4/jquery-ui.min.js")"></script>
    <script src="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jasny-bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.blockUI.min.js")"></script>
    <script src="@Url.Content("~/js/input-mask.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/js/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.steps.js")"></script>
    <script src="@Url.Content("~/js/fingerprint2.min.js")"></script>
    <script src="@Url.Content("~/js/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/js/fileinput/fileinput.min.js")"></script>
    <script type="text/javascript">
        var ipusr;
    </script>
    <script src="@Url.Content("https://www.l2.io/ip.js?var=ipusr")"></script>
    <script src="@Url.Content("~/js/app/create-Account.js")"></script>

</body>
</html>
