@using Nooch.Common.Entities;
@{
    Layout = null;
    ResultDepositMoneyComplete rdmc = (ResultDepositMoneyComplete)ViewData["OnLoaddata"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Nooch | Payment Accepted</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link href="@Url.Content("~/Assets/Css/sweetalert-override.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Css/tweaks.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/favicon.ico")" rel="stylesheet" />
</head>

<body id="body-depositNew" class="no-border" style="background-color: rgba(230, 231, 232, 0.8);">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <a class="landingHeaderLogo center-block" href="https://www.nooch.com/">
                <img src="../Assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch Logo" />
            </a>
        </div>
    </nav>

    @if (rdmc.payinfobar == true)
    {
        <div id="payinfobar" class="depositComplete-TransDetails" runat="server">
            <div class="media">
                <div class="transDetails-userpic pull-left">
                    <input type="image" class="media-object" id="senderImage" src="@rdmc.senderImage" alt="Other User" />
                </div>
                <div class="media-body">
                    <span class="intro-header label label-success">Transfer From</span>
                    <div id="senderName">
                        <label id="senderName1" text="">@rdmc.senderName1</label>
                    </div>
                    <span class="transfer-amount">
                        $
                        <label id="transAmountd">@rdmc.transAmountd</label>
                    </span>
                </div>
            </div>
            <div id="memo_shell">
                <div>
                    <label id="transMemo" text="">@rdmc.transMemo</label>
                </div>
            </div>
        </div>
    }

    @if (rdmc.paymentSuccess == true)
    {
        <div id="paymentSuccess">

            <div id="iconCirclexx" style="width: 100%; text-align: center;" class="floating">
                <div style="width: 80%; max-width: 122px; margin: 15px auto 10px;">
                    <img src="https://www.nooch.com/email/autoemails/check-green.png" style="display: block; width: 120px; height: auto; margin: 4px auto 0px;" alt="&#10004;" />
                </div>
            </div>

            <div id="depositHeaderShell">
                <div id="depositHeader">
                    <p>Success!</p>
                    <div id="fromText">This payment has been submitted successfully and is now being processed. &nbsp;You should see this money appear on your bank statement within 2-4 business days.</div>
                </div>
            </div>

        </div>
    }
    <form id="form1" class="hidden">
        <input type="hidden" id="transType" value="invite" />
    </form>

    <form id="form2">
        <input type="hidden" id="rs" value="@rdmc.rs" />
    </form>

    <div class="footer">
        <div>
            <ul class="list-inline">
                <li><a href="https://www.nooch.com/overview">About</a></li>
                <li><a href="https://www.nooch.com/safe">Security</a></li>
                <li><a href="http://support.nooch.com/">Support Center</a></li>
                <li><a href="https://www.nooch.com/tos">Legal Stuff</a></li>
                <li><a href="https://www.nooch.com/blog/">Blog</a></li>
            </ul>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="../js/sweetalert.min.js"></script>
    <script src="../js/app/movemoney-complete-pages.js"></script>
</body>
</html>
