@using Nooch.Common.Entities;
@{
    Layout = null;
    ResultMoveMoneyFromLandingPageComplete rdmc = (ResultMoveMoneyFromLandingPageComplete)ViewData["OnLoaddata"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Payment Accepted | Nooch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link href="@Url.Content("~/Assets/Css/sweetalert-override.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Css/tweaks.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/favicon.ico")" rel="stylesheet" />
</head>

<body id="body-depositNew" class="no-border" style="background-color: rgba(230, 231, 232, 0.8);">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            @if (rdmc.company == "rentscene")
            {
                <a class="landingHeaderLogo center-block" href="https://www.rentscene.com/">
                    <img src="../Assets/Images/rentscene.png" class="center-block" alt="Rent Scene Logo" />
                </a>
            }
            else if (rdmc.company == "habitat")
            {
                <a class="landingHeaderLogo center-block" href="https://tryhabitat.com/" style="float:left;">
                    <img src="../Assets/Images/habitat-logo.png" class="center-block" alt="Habitat Logo" />
                </a>
            }
            else
            {
                <a class="landingHeaderLogo center-block" href="https://www.nooch.com/">
                    <img src="../Assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch Logo" />
                </a>
            }
        </div>
    </nav>

    @if (rdmc.payinfobar == true)
    {
        <div id="payinfobar" class="depositComplete-TransDetails" runat="server">
            <div class="media">
                <div class="transDetails-userpic pull-left">
                    <input type="image" class="media-object" id="senderImage" src="@rdmc.senderImage" alt="Other User" />
                </div>
                <div class="media-body">
                    <span class="intro-header label label-success">Transfer From</span>
                    <div id="senderName">
                        <label id="senderName1" text="">@rdmc.senderName1</label>
                    </div>
                    <span class="transfer-amount">
                        $
                        <label id="transAmountd">@rdmc.transAmountd</label>
                    </span>
                </div>
            </div>
            <div id="memo_shell">
                <div>
                    <label id="transMemo" text="">@rdmc.transMemo</label>
                </div>
            </div>
        </div>
    }

    @if (rdmc.paymentSuccess == true)
    {
        <div id="paymentSuccess">

            <div id="iconCirclexx" style="width: 100%; text-align: center;" class="floating">
                <div style="width: 80%; max-width: 122px; margin: 15px auto 10px;">
                    <img src="https://www.nooch.com/email/autoemails/check-green.png" style="display: block; width: 120px; height: auto; margin: 4px auto 0px;" alt="&#10004;" />
                </div>
            </div>

            <div id="depositHeaderShell">
                <div id="depositHeader">
                    <p>Success!</p>
                    <div id="fromText">This payment has been submitted successfully and is now being processed. &nbsp;You should see this money appear on your bank statement within 2-4 business days.</div>
                </div>
            </div>

        </div>
    }

    <div class="footer footer-landing" style="position:fixed; bottom:1%;">
        <div>
            <ul class="list-inline">
                @if (rdmc.company == "rentscene")
                {
                    <li><a href="https://www.rentscene.com" target="_blank">About</a></li>
                    <li><a href="https://www.nooch.com/safe" target="_blank">Security</a></li>
                    <li><a href="http://support.nooch.com" target="_blank">Support Center</a></li>
                    <li><a href="https://www.nooch.com/tos" target="_blank">Legal Stuff</a></li>
                    <li><a href="https://www.rentscene.com/faq" target="_blank">FAQ</a></li>
                }
                else
                {
                    <li><a href="https://www.nooch.com/overview" target="_blank">About</a></li>
                    <li><a href="https://www.nooch.com/safe" target="_blank">Security</a></li>
                    <li><a href="https://www.nooch.com/tos" target="_blank">Legal Stuff</a></li>
                    @if (rdmc.company != "habitat") {
                        <li><a href="http://support.nooch.com/" target="_blank">Support Center</a></li>
                        <li><a href="https://www.nooch.com/blog/" target="_blank">Blog</a></li>
                    }
                }
            </ul>
        </div>
    </div>

    <form id="form1" class="hidden">
        <input type="hidden" id="errorMsg" value="@rdmc.errorMsg" />
        <input type="hidden" id="transType" value="invite" />
        <input type="hidden" id="company" value="@rdmc.company" />
        <input type="hidden" id="isStillPending" value="@rdmc.IsTransStillPending.ToString().ToLower()" />
    </form>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../js/sweetalert.min.js"></script>
    <script src="../js/app/movemoney-complete-pages.js"></script>
</body>
</html>
