@using Nooch.Common.Entities.SynapseRelatedEntities;
@{
    Layout = null;
    SynapseV3VerifyNodeWithMicroDeposits_ServiceInput MicroDeposit = (SynapseV3VerifyNodeWithMicroDeposits_ServiceInput)ViewData["OnLoadData"];
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Micro Deposit Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/sweetalert-override.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/tweaks.css")" />
    <link rel="icon" href="@Url.Content("~/Assets/favicon.ico")" />

    <style>
        .well {
            background: rgb(250,250,251);
            font-weight: bold;
        }

        .input-group-addon, input.form-control {
            font-size: 22px;
            font-weight: 600;
            height: 50px !important;
            letter-spacing: 2px;
        }

        .form-control {
            padding: 5px 14px;
            font-weight: 700;
        }

        .form-group {
            text-align: center;
            margin-bottom: 20px;
        }

        .input-group {
            width: 120px;
            margin: 0 auto;
        }

        .input-group-addon {
            border: 0;
            padding: 5px 6px 5px 12px;
            color: #888;
        }

        .btnPayRequest {
            padding: 4px 15px !important;
            position: relative;
            top: -2px;
        }
    </style>
</head>

<body id="body-depositNew">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">

            <a class="landingHeaderLogo hide-sm" href="https://www.nooch.com/" style="float:left;">
                <img src="../Assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch Logo" />
            </a>

            <div id="nameInNavContainer">
                <label id="nameInNav" class="m-t-5 m-b-0 center-block f-600 f-19">@MicroDeposit.userFirstName @MicroDeposit.userLastName</label>
                @if (!String.IsNullOrEmpty(MicroDeposit.bankName))
                {
                    <h4 class="f-13 bankName">
                        <span>@MicroDeposit.bankName</span>
                        @if (!String.IsNullOrEmpty(MicroDeposit.bankNickName))
                        {
                            <span>| @MicroDeposit.bankNickName</span>
                        }
                    </h4>
                }
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div id="verifiedSuccess" class="resultDiv col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 hidden">
                <i class="fa fa-check"></i>
                <h2>Thanks, You're All Set</h2>
                <p>Thanks for verifying your bank. &nbsp;We are committed to preventing ID fraud and making sure the platform safe for everyone.</p>
                <p>You may now use this bank account to send or receive funds.</p>
            </div>
        </div>

        @if (@MicroDeposit.success)
        {
            <div class="row">

                <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                    <div id="idWizContainer" class="m-t-25">

                        <div class="animated bounceIn">

                            <div class="well text-center f-15">
                                <span class="show f-19 m-b-5 text-primary">Hi @MicroDeposit.userFirstName,</span>Please enter the amounts of the two (2) deposits from <em>"Rent Scene"</em> on your bank statement:<br /><span style="font-weight:normal;">(both should be between $0.01 - $0.99)</span>
                            </div>

                            <form id="microVerForm" class="form-horizontal f-18" role="form">

                                <div class="form-group" id="micro1Grp">
                                    <div>
                                        <div class="input-group">
                                            <span class="input-group-addon">$0.</span>
                                            <div class="fg-line">
                                                <input type="text" id="MicroDepositOne" class="form-control two-digits p-l-10" placeholder="00" maxlength="2" required data-parsley-trigger="keyup" data-parsley-minlength="2" data-parsley-minlength-message="Please enter a 2-digit number." data-parsley-validation-threshold="0" data-parsley-errors-container="#errorMsg1" />
                                            </div>
                                        </div>
                                        <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                                        <div id="errorMsg1"></div>
                                    </div>
                                </div>

                                <div class="form-group" id="micro2Grp">
                                    <div>
                                        <div class="input-group">
                                            <span class="input-group-addon">$0.</span>
                                            <div class="fg-line">
                                                <input type="text" id="MicroDepositTwo" class="form-control two-digits" placeholder="00" maxlength="2" required data-parsley-trigger="keyup" data-parsley-minlength="2" maxlength="2" data-parsley-minlength-message="Please enter a 2-digit number." data-parsley-validation-threshold="0" data-parsley-errors-container="#errorMsg2" />
                                            </div>
                                        </div>
                                        <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                                        <div id="errorMsg2"></div>
                                    </div>
                                </div>

                                <div class="form-group m-t-30">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" id="Submit" onclick="SubmitInfo()">Submit</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        }
        else if (MicroDeposit.isAlreadyVerified && MicroDeposit.verifiedDate != null)
        {
            <div class="row">
                <div class="resultDiv col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 p-l-15 p-r-15">
                    <i class="fa fa-bank"></i>
                    <h3>Account Already Verified</h3>
                    <p class="f-16">Looks like you're already good to go! &nbsp;This bank account was verified on <strong>@MicroDeposit.verifiedDate</strong>.</p>
                    <p class="f-16">You may use this bank account to send or receive funds.</p>
                </div>
            </div>
        }
        else if (MicroDeposit.errorMsg == "Synapse bank details not found")
        {
            <div class="row">
                <div class="resultDiv col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                    <i class="fa fa-bank"></i>
                    <h3>Bank Account Not Found</h3>
                    <p class="f-16">Oh No! &nbsp;Very sorry, but we couldn't find your bank account. &nbsp;Please contact our support team and we'll help get this issue resolved ASAP!</p>
                    <a class="btn btn-danger btn-sm m-t-10" href="mailto:support@nooch.com" target="_blank"><i class="fa fa-pencil-square-o m-r-5"></i> Contact Support</a>
                </div>
            </div>
        }

        @if (MicroDeposit.hasPendingPymnt && MicroDeposit.PendingTransactionList.Count > 0)
        {
            <input type="hidden" id="hasPending" value="true" />

            <div class="row">
                <div id="pendingTrans" class="hidden">
                    <div class="resultDiv" style="width:94%; max-width:560px; margin: 10px auto 20px;">
                        <div class="row">

                            <div class="well well-sm text-center f-16">
                                You have <span class="text-primary">@MicroDeposit.PendingTransactionList.Count</span> Pending Requests:
                            </div>

                            <form id="microVerPayRequestForm" class="form-inline" role="form">
                                @foreach (var tran in MicroDeposit.PendingTransactionList)
                                {
                                    <div class="row">
                                        <div class="col-xs-4 p-r-0">
                                            <label class="m-r-5">Amount:</label>
                                            <p class="form-control-static">$@tran.amount</p>
                                        </div>

                                        <div class="col-xs-5 p-l-0 p-r-0">
                                            <label class="m-r-5">From:</label>
                                            <p class="form-control-static capitalize">@tran.userName</p>
                                        </div>

                                        <div class="col-xs-3 p-l-5 p-r-10 text-center">
                                            <button type="button" class="btn btn-sm btn-success btnPayRequest m-t-5 @tran.TransactionId" onclick='SubmitPay("@tran.TransactionId","@tran.RecipientId")'>Pay Now</button>
                                            <span class="fa fa-check form-control-feedback hidden" aria-hidden="true"></span>
                                        </div>

                                        <div id="errorMsg1"></div>
                                    </div>
                                }
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" id="hasPending" value="false" />
        }
    </div>

    <div class="footer footer-landing" style="position:fixed; bottom:1%;">
        <div>
            <ul class="list-inline">
                <li><a href="https://www.nooch.com/overview" target="_blank">About</a></li>
                <li><a href="https://www.nooch.com/safe" target="_blank">Security</a></li>
                <li><a href="https://www.nooch.com/tos" target="_blank">Legal Stuff</a></li>
            </ul>
        </div>
    </div>

    <form id="form1">
        <input type="hidden" id="MemberId" value="@MicroDeposit.MemberId" />
        <input type="hidden" id="NodeId1" value="@MicroDeposit.NodeId1" />
        <input type="hidden" id="errorMsg" value="@MicroDeposit.errorMsg" />
        <input type="hidden" id="success" value="@MicroDeposit.success.ToString().ToLower()" />
        <input type="hidden" id="verifiedDate" value="@MicroDeposit.verifiedDate" />
        <input type="hidden" id="isAlrdyVer" value="@MicroDeposit.isAlreadyVerified.ToString().ToLower()" />
    </form>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/js/jquery.blockUI.min.js")"></script>
    <script src="@Url.Content("~/js/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/js/parsley.min.js")"></script>
    <script src="@Url.Content("~/js/app/microDepositsVerification.js")"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</body>
</html>